html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	border: 0;
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}
body {
	background: white;
	line-height: 1;
	color: black;
  overflow:hidden;
	}
ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}

  html { overflow-y:scroll; }

  @media (max-width: 1920px){

.App{
  width: 100%;
  height:104vh;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}

.App-header {
  padding-top:1vh;
  margin-bottom:3vh;
  height: 100%;
  width: 100%;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  }

.art1{
  width:200px;
  height:200px;
  background-image: url('https://uploads-ssl.webflow.com/5e3ce2ec7f6e53c045fe7cfa/603dd77ba0472083c35abd58_Frame-158.png');
  background-size: cover;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.art1:hover{
  transform:rotate(360deg);
  transition: all 1.1s ease-in-out;
  cursor:pointer;
}

.art2{
  width:200px;
  height:200px;
  background-image: url('https://uploads-ssl.webflow.com/5e3ce2ec7f6e53c045fe7cfa/603dd7815e7536a962af11bd_Frame-157.png');
  background-size: cover;
  border-radius: 50%;
  transition: all 1.1s ease-in-out;
}

.art2:hover{
  transform:rotate(360deg);
  transition: all 1.1s ease-in-out;
  cursor:pointer;
}

.right-side{
 width:100%;
 border-radius:20px;
}

.glass {
  background: white;
  height:80%;
  max-width: 70%;
  width:60%;
  display:flex;
  flex-flow: row nowrap;
  background: linear-gradient(
    to right bottom,
     rgba(255,255,255,0.7),
     rgba(255, 255, 255, 0.3)
     );
     border-radius: 1.5rem;
     z-index: 3;
     -webkit-backdrop-filter: blur(1.1rem);
     backdrop-filter: blur(1.1rem);
}

.dashboard {
  width:25%;
  max-height:100%;
  height:100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: inherit;
}



.picContainer {
  height:30%;
  width:100%;
  display: flex;
  flex-flow: column wrap;
  border-radius: 25px;
  line-height: 1.5rem;
}

.picture {
  width:50%;
  height:50%;
  background: '/profilePic.jpeg';
  background-size:cover;
  border-radius: 50%;
  border: 2px solid lightgrey;
  align-self: center;
}

.picContainer p {
  text-align: left;
  font-size: 0.9rem;
  font-family: serif;
  font-style: oblique;
  align-self: flex-start;
  margin-left:20%;
}

.picContainer h3 {
  align-self: flex-end;
  margin-right:20%;
}

.bottom-wrapper{
  height:70%;
  width: 100%;
  border-radius:20px;
}

.navigation {
  height:50%;
  max-height:50%;
  display:flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: left;
}

.link {
  font-size: 1.5rem;
  cursor:pointer;
}

.link:hover {
  color: lightcoral;
}



.call-to-actionBtn {
  width: 70%;
  height: 20%;
  background-color: lightcoral;
  border: 1px solid lightcoral;
  cursor:pointer;
  font-size: 1rem;
  transition: all .6s ease;
}

.call-to-actionBtn:hover {
  color: white;
  transform-origin: 0%;
  transform:scale(1.1,1);
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
}

.personal-left {
  width:100%;
  height:49%;
  max-height:49%;
  border-radius: 25px;
  display:flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.personal-left a {
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2rem;
  text-decoration: none;
  display:flex;
  flex-flow:row nowrap;
  justify-content:left;
  margin-left:1rem;
}

.Cv-link {
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
  display:flex;
  flex-flow:column wrap;
  justify-content:left;
  align-content: flex-start;
  margin-bottom:0.8rem;
}

.phone-icon{
  transition:all 0.25s ease-in-out;
}

.phone-icon:hover{
  transform:rotate(45deg);
}

.call-button{
  color:black;
  margin-left:1rem;
}

.call-button:hover{
  text-decoration: underline;
  color:darkgreen;
}

.email-icon{
  transition:all 0.25s ease-in-out;
}

.email-icon:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.email-button{
  color:black;
  margin-left:1rem;
}

.email-button:hover{
  text-decoration: underline;
  color:goldenrod;
}

.Cv-link{
  display:flex;
  align-items: center;
  width: 90%;
  margin-left:1rem;
}

.Cv-link:hover{
  cursor:pointer;
  color: white;
}

.Cv-link:hover p{
  color:peru;
  text-decoration:underline;
}

.Cv-link p{
  color:peru;
}

.file-icon:hover{
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

  }

  @media (max-width: 1400px){

    .glass {
      background: white;
      height:95%;
      min-width: 90%;
      width:90%;
      display:flex;
      flex-flow: row nowrap;
      background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.7),
         rgba(255, 255, 255, 0.3)
         );
         border-radius: 1.5rem;
         z-index: 3;
         -webkit-backdrop-filter: blur(1.1rem);
         backdrop-filter: blur(1.1rem);
    }

    .personal-left {
      width:100%;
      height:49%;
      max-height:49%;
      border-radius: 25px;
      display:flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
    }

    .personal-left a {
      font-size: 0.8rem;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      text-decoration: none;
      display:flex;
      flex-flow:row nowrap;
      justify-content:left;
      margin-left:1rem;
    }

  }

  @media (max-width: 1000px){

    .glass {
      background: white;
      height:100vh;
      min-width: 100%;
      width:100%;
      display:flex;
      flex-flow: row nowrap;
      background: linear-gradient(
        to right bottom,
         rgba(255,255,255,0.7),
         rgba(255, 255, 255, 0.3)
         );
         border-radius: 0;
         z-index: 3;
         -webkit-backdrop-filter: blur(1.1rem);
         backdrop-filter: blur(1.1rem);
    }
  }

  @media (max-width: 700px){

    .picture {
      width:80%;
      height:7.5rem;
      background-size:cover;
      border-radius: 50%;
      border: 2px solid lightgrey;
    }
    
    .picContainer {
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      line-height: 1.5rem;
    }

    .picContainer p {
      text-align: left;
      margin-left: 0rem;
      font-size: 0.9rem;
      font-family: serif;
      font-style: oblique;
    }

  .personal-left a {
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 0.5rem;
    text-decoration: none;
    display:flex;
    flex-flow:row nowrap;
    justify-content:left;
  }

  .personal-left a p{
    opacity:0;
  }

}

@media (max-width: 600px){

  .picture {
    width:90%;
    height:6.5rem;
  }

  .personal-left{
    height:45%;
  }

  .call-to-actionBtn {
    font-size: 12px;
  }

  .right-side{
    height:95%;
  }

}

@media (max-width: 370px){
  .picContainer h3 {
    text-align: left;
    margin-left: 0rem;
    font-size: 0.8rem;
    font-family: serif;
    font-style: oblique;
  }
}