
.home-wrapper{
    width:100%;
    height:100%;
    border-radius:20px;
    display:flex;
    flex-flow:column wrap;
    justify-content: space-between;
}

.home-title{
    max-width:90%;
    width:90%;
    max-height:30%;
    height:30%;
    margin-top:10%;
    margin-left:5%;
    display:flex;
    flex-flow:row wrap;
    justify-content: space-between;
    background-size: cover;
    
    overflow:hidden;
    position:relative;
}
 
.background{
    position:absolute;
    width:100%;
    z-index: -1;
}

.home-name{
    border:2px dashed grey;
    width:30%;
    height:30%;
    margin-left:1rem;
    margin-top:2rem;
    background-color: white;
}

.home-name h1{
    padding-left:4%;
    font-size:32px;
}

.home-description{
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:30%;
}

.home-description h2{
    color:whitesmoke;
    font-size: 22px;
    margin-bottom:1rem;
}

.home-description p{
    color:whitesmoke;
    font-size: 20px;
    line-height: 4vh;
    margin-left:1rem;
}

.home-description h3{
    color:whitesmoke;
    font-size: 28px;
    margin-left:55%;
    margin-top:1rem;
}

.home-social{
    width:100%;
    height:15%;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    color:white;
}

.home-social p{
    color:white;
}

.home-social a{
    text-decoration-line:none;
    transition: all 0.4s ease-in-out;
}

.home-social a:hover{
    transform: scale(1.15);
    transition: all 0.2s ease-in-out;
    color:white;
}

@media (max-width: 1400px){

    .home-name{
        width:50%;
        height:20%;
    }

    .home-name h1{
        font-size: 16px;
    }

    .home-description h2{
        font-size: 18px;
    }

    .home-description p{
        font-size: 14px;
    }

    .home-description h3{
        font-size: 16px;
    }

}

    @media (min-width:1400px) and (max-width: 1600px){

        .home-name {
            width:30%;
            height:40%;
        }

        .home-name h1{
            font-size: 32px;
        }

        .home-description h2 {
        font-size: 26px;
        }

        .home-description p{
            font-size: 18px;
            
        }

        .home-description h3{
            font-size: 24px;
        }

        .home-social{
            margin-bottom:0.5rem;
        }

    }

