@media (min-width: 100px){

.projects-wrapper {
    width:100%;
    height:100%;
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
}

h1{
    font-size: 3rem;
    letter-spacing: 0.15rem;
    margin-bottom:1.5rem;
}

.card-wrapper{
    width:100%;
    height:60%;
    display:flex;
    flex-flow:row wrap;
    justify-content:space-evenly;
}

.card {
    background-color: white;
    width:30%;
    height:100%;
    transition: all .5s ease-in-out;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    transform:scale(1.08);
    transition: all .5s ease-in-out;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
}

.top-card1 {
    width:100%;
    height:40%;
    border-radius:0 0 20px 20px;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-image: url('https://lh3.googleusercontent.com/iZw6decTOFcZECU_7Lx0snLM2oNGdYi7ujj45y1e2J06uXnbenlcSKBpvLsPU14NHkaN8w=s151');
    background-size: cover;
}

.top-card2 {
    width:100%;
    height:40%;
    border-radius:0 0 20px 20px;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-image: url('https://lh3.googleusercontent.com/i0_9e88x0AM6E1W5_1nBx9bVSDSAkiFvG_CeZ8OnroYZ6Z9HOU7ayIKFZPChYQDTyKs6Aw=s152');
    background-size:cover;
}

.top-card3 {
    width:100%;
    height:40%;
    border-radius:0 0 20px 20px;
    box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    background-image: url('https://lh3.googleusercontent.com/IbMORtHtElaUx614HrT6vomSHvjDo_pvENEgN3X6TYfeJATzVA2RUc4K4dqaeftecK6n=s168');
    background-size: cover;
}

.card-text-container{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    max-height:60%;
    height:60%;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    padding-top:0.5rem;
}

.card-text-container a{
    align-self: center;
    margin-left:1rem;
    margin-right:1rem;
}

.card-text-container a:hover{
    color:lightcoral;
}

.card-text-container p{
    font-size: 1rem;
    line-height: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.skill-bar {
    display:flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: 100%;
    height:12%;
    margin-top:3%;
}

.skill-bar span{
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    width: 10%;
}

h2{
    font-size: 3rem;
    letter-spacing: 0.15rem;
}

}

@media (min-width: 1400px) and (max-width: 1800px) {

    h1 {
        font-size: 36px;
        margin-bottom:1rem;
    }

    h2 {
        font-size: 36px;
        padding-top:1rem;
    }

    .card-text-container{
        padding-top:0.5rem;
        height:56%;
        overflow-x: scroll;
    }

    .card-text-container p{
        font-size: 12px;
    }

    .skill-bar {
        height:auto;
        margin-top: 0;
    }
}

@media (min-width: 1000px) and (max-width: 1400px) {

    h1{
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
        margin-bottom:1rem;
    }

    .card-wrapper{
        justify-content:none;
        width:100%;
        height:65%;
        margin-left:1%;
        margin-right:1%;
    }

    .card{
        margin-bottom:1rem;
    }

    .card-text-container{
        padding-top:0.5rem;
        height:56%;
        overflow-x: scroll;
    }

    .card-text-container p{
        font-size: 14px;
    }

    .card-text-container div{
        height:20%;
    }

    h2{
        font-size: 2.5rem;
        letter-spacing: 0.15rem;
    }

    .skill-bar {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 100%;
        height:12%;
        margin-top:1%;
    }

}

@media (min-width: 100px) and (max-width: 1000px) {
    .projects-wrapper {
        width:100%;
        height:100%;
        display:flex;
        flex-flow:row wrap;
        align-items: center;
    }

    h1{
        font-size: 3rem;
        letter-spacing: 0.15rem;
        margin-bottom:1.5rem;
    }

    .card-wrapper{
        width:100%;
        height:65%;
        display:flex;
        flex-flow:row wrap;
        border: 2px solid grey;
        align-items:center;
        overflow:scroll;
        margin-left:1%;
        margin-right:1%;
    }

    .card {
        background-color: white;
        width:90%;
        height:auto;
        transition: all .5s ease-in-out;
        box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
        margin-top:1.5rem;
    }
    
    .card:hover {
        transform:scale(1.08);
        transition: all .5s ease-in-out;
        box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
    }
    
    .top-card1 {
        width:100%;
        height:40%;
        border-radius:0 0 20px 20px;
        box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
        background-image: url('https://lh3.googleusercontent.com/iZw6decTOFcZECU_7Lx0snLM2oNGdYi7ujj45y1e2J06uXnbenlcSKBpvLsPU14NHkaN8w=s151');
        background-size: cover;
    }
    
    .top-card2 {
        width:100%;
        height:40%;
        border-radius:0 0 20px 20px;
        box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
        background-image: url('https://lh3.googleusercontent.com/i0_9e88x0AM6E1W5_1nBx9bVSDSAkiFvG_CeZ8OnroYZ6Z9HOU7ayIKFZPChYQDTyKs6Aw=s152');
        background-size:cover;
    }
    
    .top-card3 {
        width:100%;
        height:40%;
        border-radius:0 0 20px 20px;
        box-shadow: 0 8px 11px 0 rgba(0, 0, 0, 0.2), 0 10px 25px 0 rgba(0, 0, 0, 0.19);
        background-image: url('https://lh3.googleusercontent.com/IbMORtHtElaUx614HrT6vomSHvjDo_pvENEgN3X6TYfeJATzVA2RUc4K4dqaeftecK6n=s168');
        background-size: cover;
    }

    .card-text-container{
        display:flex;
        flex-flow:row wrap;
        justify-content: center;
        padding-top:0.5rem;
        height:57%;
        overflow-x: scroll;
    }

    .card-text-container div{
        margin-top:1rem;
        
    }

    .card-text-container div a{
        margin-left:1rem;
        margin-right:1rem;
    }
    
    .skill-bar {
        display:flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        max-width: 100%;
        width: 100%;
        height:19%;
        margin-top:3%;
        overflow: scroll;
        border:2px solid grey;
        margin:1%;
    }
    
    .skill-bar span{
        transition: all 0.2s ease-in-out;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        padding-left: 10%;
        padding-right: 10%;
        margin:1%;
        border:1px solid white;
    }
    
    h2{
        font-size: 3rem;
        letter-spacing: 0.15rem;
    }

}

